@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
:root {
  /* COLORES DESIGN SYSTEM */
  --neutro-50: #fffbeb;
  --neutro-300: #565656;
  --neutro-600: #1b1b1b;
  --neutro-900: #220d02;
  --sign--100: #ffe0b88e;
  --primary-50: #fffbeb;
  --primary-100: #fef3c7;
  --primary-200: #fde68a;
  --primary-300: #fcd34d;
  --primary-400: #fbbf24;
  --primary-500: #f59e0b;
  --primary-600: #d97706;
  --primary-700: #b45309;
  --primary-800: #92400e;
  --primary-900: #78350f;
  --primary-950: #451a03;
  --bg-dark-900: #301000;
  --bg-diffuse: #fef3c7;
  --secondary-50: #ffbf94;
  --secondary-300: #000000;
  --secondary-600: #b85f1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  background-color: var(--primary-50);
}


a {
  color: var(--primary-900);
  background-color: transparent;
  border: none;
}

span {
  background-color: transparent;
}

button {
  border: none;
}


p {
  font-family: 'PT Serif', serif;
  font-size: 1.6rem;
  color: var(--primary-950);
}

strong {
  color: var(--primary-950);
}

/* ENCABEZADO CON FOTO DE FONDO */

header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.header--img{
  width: 100%;
  height: 720px;
  background: url(./header--desktop.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin:0 auto;
}



.logo{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;

}

.logo img{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  height: auto;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  justify-content: center;
  align-items: center;
  place-content: center;
  position: absolute;
  top:4rem;
}

/* mensaje de bienvenida */

.welcome--message {
  width: 100%;
  height: auto;
  place-content: center;
  text-align: center;
  background-color: var(--bg-dark-900);
  margin:0 auto;
}

.welcome--message article{
  padding: 2.4rem;
  margin: 0 auto;
}

.welcome--message article h1 {
  font-family: 'Galindo', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;
  color: var(--primary-100);
  padding: 2.4rem;
}

/* BARRA DE NAVEGACION*/

.navbar {
  font-family: 'Galindo', sans-serif;
  font-weight: 600;
  text-align: center;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-950);
  color: var(--primary-50);
  font-family: 'birthstone';
  font-size: 2.4rem;
  font-weight: 400;
}

.navbar-dark {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-950);
  color: var(--primary-50);
  font-size: 1rem;
  font-weight: 600;
  border-bottom: .25rem solid var(--primary-500);
}



/* CONTENIDO */

main{
  width: 100%;
  height: auto;
  min-width: 320px;
  background-color: transparent;
  border-bottom: .25rem solid var(--primary-600);
}

/* INTEGRADOR DE SECCIONES */

.content--grid {
  display: grid;
  grid-template-columns: auto(3,240px);
  width: 100%;
  height: auto;
  padding: 1.6rem;
  margin: 0 auto;
  background-color: var(--primary-50);
}

/* TOURING */

.tour{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: .15 solid var(--primary-900);
  border-radius: 1.8rem;
  place-content: center;
  align-items: center;
  justify-content: center;
}
.tour video{
  width: 90%;
  height: auto;
  background-color: var(--primary-500);
  border-radius: 1.8rem;
  padding: .4rem;
}

/* CATERING */
.catering {
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  color: var(--neutro-900);
  background-color: transparent;
  padding-top: 6.4rem;
  padding-bottom: 4rem;
}

.catering h2 {
  font-family: 'Galindo', sans-serif;
  font-size: 2.4rem;
  padding-top: .8rem;
  font-weight: 600;
}

.catering p {
  font-size: 1.6rem;
  padding-top: .16rem;
  padding-bottom: .16rem;
}

.catering img {
  width: 100%;
  height: auto;
  border-radius: .8rem;
}

.catering a img {
  width: 64px;
  height: auto;
  border-radius: 0;
}

/* TAKE AWAY */

.take-away {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  color: var(--neutro-900);
  padding-top: 6.4rem;
  padding-bottom: 4rem;
}

.take-away h2 {
  font-family: 'Galindo', sans-serif;
  font-size: 2.4rem;
  color: var(--primary-950);
  padding-top: .8rem;
  font-weight: 600;
}

.take-away p {
  color: var(--primary-950);
  font-size: 1.6rem;
  text-align: center;
  padding-top: .16rem;
  padding-bottom: .16rem;
}

.take-away img {
  width: 100%;
  height: auto;
  border-radius: .8rem;
}

.take-away a img {
  width: 64px;
  height: auto;
  border-radius: 0;
}

/* carta digital */

.carta-digital {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  color: var(--neutro-900);
  background-color: transparent;
  padding-top: 6.4rem;
  padding-bottom: 4rem;
}

.carta-digital h2 {
  font-family: 'Galindo', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--primary-950);
  padding-top: .8rem;
}

.carta-digital p {
  color: var(--primary-950);
  font-size: 1.6rem;
  text-align: center;
  padding-top: .16rem;
  padding-bottom: .16rem;
}

.carta-digital img {
  width: 100%;
  height: auto;
  border-radius: .8rem;
}

.carta-digital article a img {
  width: 16px;
  height: auto;
  border-radius: 0;
}

.carta-digital a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-500);
  width: 100%;
  height: 2rem;
  border-radius: .8rem;
  margin: 0 auto;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  text-decoration: none;
  box-shadow: .12rem .13rem .15rem rgba(113, 36, 0, 0.49);
}
.carta-digital a button{
  text-decoration: none;
  color:var(--primary-950);
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* encontranos */

.encontranos {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  color: var(--neutro-900);
  background-color: transparent;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.encontranos h2 {
  font-family: 'Galindo', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  font-kerning: auto;
  color: var(--primary-950);
  padding-top: .4rem;
}

.encontranos p {
  color: var(--primary-950);
  font-size: 1.6rem;
  text-align: center;
  padding-top: .16rem;
  padding-bottom: .16rem;
}

.encontranos img {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1.6rem;
}

.encontranos a img {
  width: 10vw;
  height: auto;
  border-radius: 0;
}

.encontranos button {
  background-color: var(--primary-500);
  width: 100%;
  height: auto;
  padding: .8rem;
  border-radius: 1.6rem;
}

.encontranos button a {
  text-decoration: none;
  color: var(--primary-950);
  font-weight: 700;
  font-size: 1.6rem;
  padding: .8rem;
}


/* BOTONERA DE LA CARTA */

.menu--grid{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  place-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4.8rem;
  padding-bottom: 4rem;
}

.menu--item__big{
  grid-area: 1 / 1 / 3 / 3 ;
}

.menu--grid--item{
  width: 100%;
  height: auto;
  margin: 0 auto;
 /* border-top-left-radius: 3rem;*/
  cursor: pointer;
  transition: .5s;
}

.menu--grid--item:hover{
  margin: 0;
  border-top-left-radius: 3rem;
  cursor: pointer;
  transition: .5s;
  background-color: transparent;
}

.menu--grid--item img{
  width: 100%;
  max-width: 560px;
  min-width: 320px;
  height: auto;
  object-fit: contain;
  padding: .24rem;
}

/* boton para volver al menú */

.go--back {
  display: grid;
  grid-template-columns: auto(4, 320px);
  place-content: center;
}

.button--back {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-50);
}

.button--back a {
  width: 66%;
  height: auto;
  padding: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--primary-100);
  background-color: #330000;
  transition: .5s;
  border: none;
  border-radius: 10rem;
  position: relative;
}

.button--back a:hover {
  width: 66%;
  height: auto;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  color: var(--primary-400);
  background-color: #330000;
  transition: .5s;
  border: none;
  border-radius: 10rem;
  padding: 4rem;
}


/* TESTEO NUEVA GRILLA CELUS */

.carta--grilla--main{
  background-color: var(--primary-50);
  color: var(--primary-950);
  border-radius: 1.6rem;
}

.grilla{
  display: grid;
  grid-template-columns: repeat(autofill, minmax(320px, 1fr));
  width: 100%;
  height: auto;
  place-content: center;
  place-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  border-radius: 1.6rem;
}



.grilla h3 {
  font-family:'Schoolbell', cursive;
  font-weight: 700;
  font-size: 1.8rem;
  color:var(--primary-500);
  padding: 1.6rem;
  margin:0;
  text-align: justify;

}

.grilla--padre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 320px;
  height: auto;
  place-items: center;
  gap: .8rem;
  padding-top:3.2rem;
  padding-bottom: 3.2rem;
  padding-left: 0;
  padding-right: 0;
}

.grilla--producto {
  width: 100%;
  height: auto;
  padding: .8rem;
  margin: 0 auto;
}

.grilla--producto p {
  font-size: .8rem;
  font-weight: 400;
  padding: .8rem;
  margin: 0 auto;
}

.grilla--precio {
  width: 100%;
  height: auto;
  padding: .8rem;
}

.grilla--precio p {
  font-size: .8rem;
  font-weight: 400;
  text-align: right;
  padding: 8px;
}

.grilla--img {
  width: 100%;
  height: auto;
  padding: .8rem;
  border-radius: 1.6rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: none;
  background-color: var(--bg-dark-900);
  border-top: .33rem solid var(--primary-600);
  place-content: center;
  justify-content: center;
}

.footer ul {
  display: flex;
  flex-direction: column;
  color: var(--primary-200);
  font-size: var(--font--text);
  font-weight: 700;
  text-align: center;
  justify-content: center;
  place-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.footer ul li {
  color: var(--primary-200);
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}


.footer li a img {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.footer li p {
  color: var(--primary-600);
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0 auto;
}

/* Botón de scroll al inicio */
.scroll-to-top {
  background-image: url(./cookie.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  width:4rem;
  height: 4rem;
  position: fixed;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 999;
  display: none;
}




/* sliders! */

.main-slider-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
  padding-top:6.4rem ;
  padding-bottom: 6.4rem;
  text-align: left;
}

.main-slider-container h2 {
  font-family: 'Schoolbell', cursive;
  color: var(--primary-950);
  font-size: 2.4rem;
  text-align: center;
  padding-top: 1.6rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2.4rem;
  font-weight: 700;
}

.product-container--slider {
  display: flex;
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 0;
  padding: 0;
}

.product-container--card{
  position: relative;
  scroll-snap-align: center;
  width: 100%;
  height: auto;
  min-width: 320px;
  max-width: 1280px;
  /* Para que la tarjeta no crezca mas de 768px */
}

.product-container--card img{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-left: .8rem;
  padding-right: .8rem;
  margin: 0 auto;
  border-radius: 1.6rem;
}


/* Botón de scroll al inicio */
.scroll-to-top {
  background-image: url(./cookie.svg);
  width:5.6rem;
  height: 5.6rem;
  position: fixed;
  bottom: .16rem;
  right: .16rem;
  color: #fff;
  border: none;
  margin: 0;
  cursor: pointer;
  z-index: 999;
  display: flex;
  flex-direction: column;
  transition: .9s;
}
